{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<br>
{% block phase %}
{% endblock %}
<div class="input-group mb-3 col-md-3">
  <input id="pass" type="password" class="form-control" placeholder="Password">
  <div id="js-team-options" js-get-team-options-url="{% url 'get-team-options' %}" class="input-group-append">
    <button id="team" class="btn btn-outline-secondary" type="button">Get Team Members</button>
  </div>

</div>

<br>
<br>

<div class="input-group col-md-10">
    <div class="col-md-10">
        <div class="slider sleep" id="slider" js-get-team-alloc-url="{% url 'set-team-alloc' %}"></div>
    </div>
    <div class="col-md-2">
        <button id="assess" type="button" class="btn btn-primary">Allocate proportions</button>
    </div>

</div>

<div id="js-results"></div>

{% endblock content %}