{% load staticfiles %}
{% load main_extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="{% static '/main/js/moderation.js' %}"></script>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3">
                Total Marks received by:
                </th>

                <th id="alloc"
                    toggle-single-alloc-url="{% url 'toggle-single-alloc' %}"
                    colspan="{{ cs }}">
                    Total Marks received from:
                </th>
                <th colspan="{{ cs }}">
                    Individual vs Average
                </th>
            </tr>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">
                    PAF
                </th>
                <th rowspan="2">
                    SAPA
                </th>
                {% for student in students %}
                <td colspan="2">
                    {{ student }}
                </td>
                {% endfor %}
                    {% for student in students %}
                    <td rowspan="2">
                        {{ student }}
                    </td>
                {% endfor %}
            </tr>

        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    {{ student }}
                </td>
                <td>
                    {% call_method student 'paf' phase %}
                </td>
                <td>
                    {% call_method student 'sapa' phase %}
                </td>

                {% call_method student 'raw_score' phase as ratings %}
                {% for rating in ratings %}
                        {% if rating.1 %}
                            <td class="poo">
                        {% else %}
                            <td>
                        {% endif %}
                        <div class="form-group">
                            <input
                            type="checkbox"
                            data-toggle="toggle"
                            data-on="Use" data-off="Discard"
                            data-offstyle="danger"
                            id="{{ rating.0.pk }}"
                            {% if rating.0.use %}
                                checked>
                            {% endif %}

                        </div>
                    </td>
                     {% if rating.1 %}
                        <td class="poo">
                    {% else %}
                        <td>
                    {% endif %}
                       <label class="checkbox-inline" for="{{ rating.0.pk }}">
                            {{ rating.0.allocation }}
                        </label>
                    </td>
                    {% endfor %}
                    {% call_method student 'ratios' phase as ratios %}
                    {% for ratio in ratios %}
                        {% if ratio.1 %}
                            <td class="poo">
                        {% else %}
                            <td>
                        {% endif %}
                            {{ ratio.0 }}
                        </td>
                    {% endfor %}
            </tr>
          {% endfor %}
        </tbody>

    </table>

